[mysqld]
user						= root
skip-innodb
default-storage-engine  	= MyISAM
bind-address				= 0.0.0.0
socket						= /var/lib/mysql/mysql.sock

max_allowed_packet 			= 1M
sort_buffer_size 			= 64K
read_buffer_size 			= 256K
read_rnd_buffer_size 		= 256K
net_buffer_length 			= 2K

collation-server			= utf8_unicode_ci
character-set-server		= utf8

thread_cache_size			= 0 
thread_stack				= 128K

query_cache_size			= 1M
query_cache_limit			= 256K

key_buffer              	= 8M
max_connections         	= 30


[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[isamchk]
key_buffer = 8M
sort_buffer_size = 8M

[myisamchk]
key_buffer = 8M
sort_buffer_size = 8M

[mysqlhotcopy]
interactive-timeout